IO_BACKEND_HOST=https://localhost:8000
IO_BACKEND_BASEPATH=/api/v1
# SPID_SESSION_TOKEN=spid-test-session-token
SPID_USERNAME=spid-test-username
SPID_PASSWORD=spid-test-password
NODE_TLS_REJECT_UNAUTHORIZED=0